<form action="" method="post" name="movie_edit">
  {% for key,value in data_edit.items() %}
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
  <h5 class="text-uppercase">{{key}}</h5>
    </div>
<div class="col-12 d-flex justify-content-center">
  <textarea class="jsons{{loop.index0}}" name='{{key}}' rows="15" cols="100">{{value}}</textarea>
</div>
<div class="col-12 d-flex justify-content-center mb-5 mt-4">
  <button class="btn-submit" type="submit" name="submit" value="{{key}}">Submit</button>
  </div> 
  </div>
  {% endfor %}
</form>