<div class="row">
  <div class="col-12 d-flex justify-content-center mb-3">
    <h4 class="text-light text-uppercase font-weight-bold">Load from CLoud</h4>
  </div>
</div>
<form action="" method="post" name="load_jobs">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mb-5">
      <button style="" class="btn-submit" type="submit" name="load_jobs">Load Jobs</button>
    </div>
  </div>
</form>
<form action="" method="post" name="load_exp">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mb-5">
      <button style="" class="btn-submit" type="submit" name="load_exp">Load Experience</button>
    </div>
  </div>
</form>
<form action="" method="post" name="load_edu">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mb-5">
      <button style="" class="btn-submit" type="submit" name="load_edu">Load Education</button>
    </div>
  </div>
</form>
<form action="" method="post" name="load_projects">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mb-5">
      <button style="" class="btn-submit" type="submit" name="load_projects">Load Projects</button>
    </div>
  </div>
</form>
<form action="" method="post" name="load_art">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mb-5">
      <button style="" class="btn-submit" type="submit" name="load_art">Load Artworks</button>
    </div>
  </div>
</form>