<header class="page-header navbar page-header-alpha scrolled-white menu-right topmenu-right">
  
    <a class="navbar-brand" href="#proj_0">
      <div class="col-4">
        <img class="" style="width:50px" src="{{ url_for('static', filename='img/logo-white.png')}}" alt="Logo">
      </div>
      
      <div class="col-4">
        <h1>PROJECTS</h1>
      </div>
    </a>
    
    <div class="all-menu-wrapper" id="navbarMenu">
      {% include 'elements/sidebar.html' %} 
  
    </div>
    
</header>