<header class="page-header navbar page-header-alpha scrolled-white menu-right topmenu-right">
    <button class="navbar-toggler site-menu-icon" id="navMenuIcon">
        <span class="menu-icon menu-icon-random">
        <span class="bars">
          <span class="bar1"></span>
          <span class="bar2"></span>
          <span class="bar3"></span>
        </span>
      </span>
    </button>

    {% include 'elements/logo.html' %} 
    
    <div class="all-menu-wrapper" id="navbarMenu">
      
      {% include 'elements/navbar.html' %} 
      {% include 'elements/sidebar.html' %} 
  
    </div>
    
</header>