<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/logo-white.png')}}">

<!-- Web fonts/Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/opensans/stylesheet.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/ionicons/ionicons.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome/font-awesome.min.css')}}">

<!-- Vendor CSS -->
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='js/lib/swiper.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='js/lib/jquery.fullpage.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='js/lib/vegas/vegas.min.css')}}">

<!-- Main CSS files -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

<script src="{{ url_for('static', filename='jquery/custom.js')}}"></script>