<nav class="navbar-mainmenu">
    <ul class="navbar-nav mr-auto mr-auto-my">
        <li class="nav-item active">
          <a class="nav-link" href="#home">home123</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about">about</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#exp">experiance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#projects">projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#artwork">artwork</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact">contact</a>
        </li>
    </ul>
</nav>