<nav class="navbar-sidebar ">
    <ul class="social">
        <li>
            <a href="{{data.links.github}}" target="_blank" title="Github">
                <i class="icon fa fa-github"></i>
            </a>
        </li>
        <li>
            <a href="{{data.links.linkedin}}" target="_blank" title="Linkedin">
                <i class="icon fa fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a href="{{data.links.facebook}}" target="_blank" title="Facebook">
                <i class="icon fa fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="{{data.links.instagram}}" target="_blank" title="Instagram">
                <i class="icon fa fa-instagram"></i>
            </a>
        </li>
        <li>
            <a href="{{data.resume}}" target="_blank" title="Resume">
                <i class="icon fa fa-file-text"></i>
            </a>
        </li>
    </ul>
</nav>