<div class="section section-home fullscreen-md fp-auto-height-responsive main-home" data-section="home">
    <div class="section-wrapper center-vh dir-col anim">
        <div class="section-content reduced text-center">
            <div class="row">
                <div class="col-12 col-md-12 text-center">
                    <div class="title-desc">
                        <h2 class="display-6 display-title home-title anim-2">{{data.name}}</h2>
                        <h4 class="anim-2 opacity-75">{{data.oneline}}</h4>
                    </div>
                </div>
            </div>
        </div>

        <footer class="section-footer scrolldown">
            <a class="down">
                <span class="icon"></span>
                <span class="txt">About Me</span>
            </a>
        </footer>
    </div>
</div>