




<div class="modal fade" id="artworkmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="width:100vw;background-color: rgba(29, 29, 29,0.4);">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase" id="artwork-name"></h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center">
          <img class="img" id="artwork-img" src="" alt="Image" style="width:98%">
      </div>
      <!-- <div class="modal-footer d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-secondary m-0" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>

<div class="modal fade" id="projectmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="width:100vw;background-color: rgb(29, 29, 29);">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase" id="project-name"></h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center mb-4">
          <h4 class="text-uppercase" id="project-topic"></h4>
        </div>  
        <div class="text-center mb-4">
          <h5 class="text-uppercase" id="project-timeline"></h5>
        </div>    
        <div class="text-center mb-4">
          <h6 id="project-lang" class="mb-4"></h6>
          <h6 id="project-desc"></h6>
        </div> 
        <div class="d-flex justify-content-around align-items-center mb-4">
          <a href="" target="_blank" id="project-git" type="button" class="btn btn-secondary m-0 border border-light text-uppercase btn-link" style="background-color: rgb(29, 29, 29);">Github</a>
          <a href="" target="_blank" id="project-link" type="button" class="btn btn-secondary m-0 border border-light text-uppercase btn-link" style="background-color: rgb(29, 29, 29);">Link</a>
        </div>   
      </div>
      <div class="modal-footer d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-secondary m-0" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>