<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>NitishTalekar</title>
    <meta name="description" content="Resume Website">
    <meta name="keywords" content="agency, bootstrap, business, company, corporate, creative, clean, modern, multipurpose, onepage, personal, portfolio, professional, responsive, minimal">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">

    {% include 'elements/imports.html' %}
    <script src="{{ url_for('static', filename='jquery/admin.js')}}"></script>
    <script type="text/javascript">
    (function() {
      var element = document.getElementById("json");
      var obj = JSON.parse(element.innerText);
      console.log("oooooo");
      element.innerHTML = JSON.stringify(obj, undefined, 2);
  })();
    </script>

</head>

<body id="menu" class="body-page">
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Page Loader -->

<!-- Start Header -->
<!-- End Header -->

<!-- Start Cover -->
<div class="page-cover">
    <div class="cover-bg-mask bg-color" data-bgcolor="#1D1D1D" style="background-color: rgb(29, 29, 29);"></div>
</div>
<!--End Cover -->

<!-- Start Content -->
<form action="" method="post" name="movie_edit">
  {% for key,value in data_edit.items() %}
  {{key}}
  <pre id="json"><textarea name="{{key}}" rows="10" cols="200">{{value}}</textarea></pre>
  <button type="submit" name="button", value="{{key}}">Submit</button>
    <br>
  {%endfor%}
</form>


</body>
</html>
