<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>NitishTalekar</title>
    <meta name="description" content="Resume Website">
    <meta name="keywords" content="agency, bootstrap, business, company, corporate, creative, clean, modern, multipurpose, onepage, personal, portfolio, professional, responsive, minimal">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">
    
    {% include 'elements/imports.html' %} 
    
</head>

<body id="menu" class="body-page">
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Page Loader -->
<div class="pageloader" id="pageloader">
    <div>
        <div class="icon ion-spin"></div>
    </div>
</div>

<!-- Start Header -->
{% include 'elements/header.html' %} 
<!-- End Header -->

<!-- Start Cover -->
<div class="page-cover">
    <div class="cover-bg-mask bg-color" data-bgcolor="#1D1D1D" style="background-color: rgb(29, 29, 29);"></div>
</div>
<!--End Cover -->

<!-- Start Content -->
<main class="page-main page-fullpage main-anim" id="mainpage">



</main>
<!-- End Content -->

<!-- Start Footer -->
{% include 'elements/footer.html' %}
<!-- End Footer  -->

<!-- Scripts -->
{% include 'elements/imports2.html' %}
</body>
</html>
