<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>NitishTalekar</title>
    <meta name="description" content="Resume Website">
    <meta name="keywords" content="agency, bootstrap, business, company, corporate, creative, clean, modern, multipurpose, onepage, personal, portfolio, professional, responsive, minimal">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">
    
    {% include 'elements/imports.html' %} 
    
</head>

<body id="menu" class="body-page">
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Page Loader -->
<div class="pageloader" id="pageloader">
    <div>
        <div class="icon ion-spin"></div>
    </div>
</div>

<div class="modal fade" id="artworkmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark" style="width:100vw;background-color: rgb(29, 29, 29);">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase" id="artwork-name"></h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center">
          <img class="img" id="artwork-img" src="" alt="Image" style="width:95%">
      </div>
      <div class="modal-footer d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-secondary m-0" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="projectmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="width:100vw;background-color: rgb(29, 29, 29);">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase" id="project-name"></h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center mb-4">
          <h4 class="text-uppercase" id="project-topic"></h4>
        </div>  
        <div class="text-center mb-4">
          <h5 class="text-uppercase" id="project-timeline"></h5>
        </div>    
        <div class="text-center mb-4">
          <h6 id="project-lang" class="mb-4"></h6>
          <h6 id="project-desc"></h6>
        </div> 
        <div class="d-flex justify-content-around align-items-center mb-4">
          <a href="" target="_blank" id="project-git" type="button" class="btn btn-secondary m-0 border border-light text-uppercase btn-link" style="background-color: rgb(29, 29, 29);">Github</a>
          <a href="" target="_blank" id="project-link" type="button" class="btn btn-secondary m-0 border border-light text-uppercase btn-link" style="background-color: rgb(29, 29, 29);">Link</a>
        </div>   
      </div>
      <div class="modal-footer d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-secondary m-0" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Start Header -->
<header class="page-header navbar page-header-alpha scrolled-white menu-right topmenu-right">
    <button class="navbar-toggler site-menu-icon" id="navMenuIcon">
        <span class="menu-icon menu-icon-random">
        <span class="bars">
          <span class="bar1"></span>
          <span class="bar2"></span>
          <span class="bar3"></span>
        </span>
      </span>
    </button>

    {% include 'elements/logo.html' %} 
    
    <div class="all-menu-wrapper" id="navbarMenu">
      
      {% include 'elements/navbar.html' %} 
      {% include 'elements/sidebar.html' %} 
  
    </div>
    
</header>
<!-- End Header -->

<!-- Start Cover -->
<div class="page-cover">
    <div class="cover-bg-mask bg-color" data-bgcolor="#1D1D1D" style="background-color: rgb(29, 29, 29);"></div>
</div>
<!--End Cover -->

<!-- Start Content -->
<main class="page-main page-fullpage main-anim" id="mainpage">
    {% include 'sections/landing.html' %}

    <!-- Start About -->
    {% include 'sections/about.html' %}
    <!-- End About -->

    <!-- Start Experiance -->
    {% include 'sections/experiance.html' %}
    <!-- End Experiance -->

    <!-- Start Project -->
    {% include 'sections/projects.html' %}
    <!-- End Project -->

    <!-- Start Artwork -->
    {% include 'sections/artwork.html' %}
    <!-- End Artwork -->

    <!-- Start Contact -->
    {% include 'sections/contact.html' %}
    <!-- End Contact -->

</main>
<!-- End Content -->

<!-- Start Footer -->
{% include 'sections/footer.html' %}
<!-- End Footer  -->

<!-- Scripts -->
{% include 'sections/imports2.html' %}
</body>
</html>
