<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>NitishTalekar</title>
    <meta name="description" content="Resume Website">
    <meta name="keywords" content="agency, bootstrap, business, company, corporate, creative, clean, modern, multipurpose, onepage, personal, portfolio, professional, responsive, minimal">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">

    {% include 'elements/imports.html' %}
    
    <script src="{{ url_for('static', filename='jquery/admin.js')}}"></script>

</head>

<body id="menu" class="body-page">
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Page Loader -->

<!-- Start Header -->
{% include 'elements/header3.html' %} 
<!-- End Header -->

<!-- Start Cover -->
<div class="page-cover">
    <div class="cover-bg-mask bg-color" data-bgcolor="#1D1D1D" style="background-color: rgb(29, 29, 29);"></div>
</div>
<!--End Cover -->

<!-- Start Content -->
<div class="">
  
</div>
<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height:100vh">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mb-5">
      <h1 class="text-light text-uppercase">Admin Login</h1>
    </div>
    <div class="col-12">
      <form class="" action="" method="post">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center mb-5">
              <h4 class="text-uppercase text-center">Enter PASSWORD</h4>
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center mb-5">
              <input type="password" name="pwd" value="" style="width:75%">
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center">
              <button style="" class="btn-submit" type="submit" name="login">Login</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>    
</div>
</body>
</html>
